**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.gnuplot
**/*.idx
**/*.ilg
**/*.ind
**/*.log
**/*.nav
**/*.out
**/*.pdf
**/*.ptc
**/*.snm
**/*.table
**/*.thm
**/*.toc
**/*.vrb
**/*.xml
**/*.xwm

!paper/main.pdf
